# Copie pra .env e preencha. O .env não vai pro Git.
META_PAGE_ACCESS_TOKEN=   # token de longa duração da Página do Facebook
META_PAGE_ID=             # ID da Página do Facebook
META_IG_USER_ID=          # ID da conta profissional do Instagram
SITE_URL=https://www.rochaacorporation.com
